In [1]:
# Import libraries

import pandas as pd
from time import time
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
# check the version of pandas

pd.__version__

'1.3.4'

In [3]:
# Establish connection to the database

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

## Exploring with limited records

In [4]:
# Read the dataset (100 rows)
# Trying to read all the records(1369766) throw a low_memory error

df = pd.read_csv('yellow_tripdata_2021-01.csv', low_memory=False)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [5]:
# Convert the columns to timestamp and write back into the dataframe

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Loading all the records

In [7]:
# Iterate the records

df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, low_memory=False)

In [8]:
df = next(df_iter)

In [9]:
# Length of each iteration

len(df)

100000

In [10]:
# Convert the columns to timestamp and write back into the dataframe

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
# Read the header into the table --yellow_taxi_data

df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [12]:
# Reads the first iteration into the table

%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.94 s, sys: 198 ms, total: 5.14 s
Wall time: 8.97 s

In [13]:
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [14]:
# Loop through the iteration to insert all the records --1369766

print(f'Start time: {current_time}\n')

while True:
    try:
    
        t_start = time()

        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('Successfully inserted another chunk in %.2fs' % (t_end - t_start))
    
    except StopIteration:
        break
        

now = datetime.now()
current_time = now.strftime("%H:%M:%S")

print(f'\nCompleted.....End time: {current_time}')

Start time: 03:23:17

Successfully inserted another chunk in 9.15s
Successfully inserted another chunk in 9.31s
Successfully inserted another chunk in 9.09s
Successfully inserted another chunk in 9.06s
Successfully inserted another chunk in 9.21s
Successfully inserted another chunk in 9.03s
Successfully inserted another chunk in 9.07s
Successfully inserted another chunk in 9.08s
Successfully inserted another chunk in 9.02s
Successfully inserted another chunk in 9.09s
Successfully inserted another chunk in 9.04s
Successfully inserted another chunk in 8.95s
Successfully inserted another chunk in 5.84s

Completed.....End time: 03:25:12